/*
=============== 
Variables
===============
*/

:root {
  --main-heading-font-family: "Fredoka One", sans-serif;
  --heading-font-family: "Lato", sans-serif;
  --list-item-font-family: "Open Sans", sans-serif;
  --background-colour: #0debfd;
  --background-gradient: linear-gradient(to top left, #247cff, #0debfd);
  --main-heading-colour: rgb(255, 255, 255);
  --list-background-colour: rgba(255, 255, 255);
  --toggle-button-colour: #2c0dfd;
  --delete-all-btn-colour: #ff0037;
  --delete-completed-btn-colour: #9600fa;
  --add-icon-colour: #2c0dfd;
  --list-hover-colour: #0debfd;
  --list-name-hover-colour: #0165fa;
  --list-hover-icon-colour: #0debfd;
  --text-colour: black;
  --editdelete-icon-colour: #2c0dfd;
  --confirmclear-icon-colour: #2c0dfd;
  --confirmclear-icon-hover-colour: #9600fa;
  --selected-list-colour: #2c0dfd;
  --selected-list-hover-colour: #2c0dfd;
  --list-names-menu-colour: rgb(203, 224, 255);
  --container-box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.3);
  --container-border: 1px solid rgb(0, 0, 0);
  --sub-heading-colour: #2c0dfd;
  --heading-colour: #00317a;
  --scrollbar-thumb-colour: #2c0dfd;
  --scrollbar-thumb-hover-colour: #0debfd;
  --add-input-box-colour: rgba(110, 238, 255, 0.7);
  --add-input-border: none;
  --add-input-box-placeholder-colour: rgba(0, 49, 122, 0.5);
  --checkbox-checked-colour: #9600fa;
  --checkbox-hover-border-color: #2c0dfd;
}

.dark-mode {
  --background-colour: #515e5e;
  --background-gradient: linear-gradient(to top left, #191931, #707794);
  --main-heading-colour: rgb(255, 255, 255);
  --list-background-colour: #193053;
  --toggle-button-colour: #0db1fd;
  --delete-all-btn-colour: #ff0040;
  --delete-completed-btn-colour: #fa00ed;
  --add-icon-colour: #0db1fd;
  --list-hover-colour: #0debfd;
  --list-name-hover-colour: #1a01fa;
  --list-hover-icon-colour: #2601fa;
  --text-colour: rgb(255, 255, 255);
  --editdelete-icon-colour: #0debfd;
  --confirmclear-icon-colour: #0db1fd;
  --confirmclear-icon-hover-colour: #fa00ed;
  --selected-list-colour: #0debfd;
  --selected-list-hover-colour: #2c0dfd;
  --list-names-menu-colour: #000852;
  --container-box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.3);
  --container-border: 1px solid rgb(255, 255, 255);
  --sub-heading-colour: #00e1ff;
  --heading-colour: #00ff62;
  --scrollbar-thumb-colour: #0debfd;
  --scrollbar-thumb-hover-colour: #0db1fd;
  --add-input-box-colour: rgb(255, 255, 255);
  --add-input-border: none;
  --add-input-box-placeholder-colour: rgba(0, 49, 122, 0.5);
  --checkbox-checked-colour: #2c0dfd;
  --checkbox-hover-border-color: #fa019a;
}

/*
=============== 
CSS Resets
===============
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/*
=============== 
Main Layout
===============
*/

.main-container {
  background-color: var(--background-colour);
  background-image: var(--background-gradient);
  height: 100vh;
  width: 100vw;
  padding: 2% 5% 2% 5%;
  overflow-y: hidden;
  color: var(--text-colour);
}

.lists-container {
  display: flex;
  height: 90%;
}

/*
=============== 
List Names Menu
===============
*/

.list-names-container {
  width: 30%;
  height: 90%;
  margin-bottom: 0.7rem;
  background-color: var(--list-background-colour);
  display: flex;
  flex-direction: column;
  box-shadow: var(--container-box-shadow);
  border-radius: 5px;
  border: var(--container-border);
}

.list-name-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--list-item-font-family);
}

.lists {
  height: 70%;
  overflow-y: scroll;
}

.list-name-container:hover {
  background-color: var(--list-hover-colour);
}

.list-name-container:hover .icon {
  color: var(--list-hover-icon-colour);
}

.list-name-container:not(.selected-list):hover {
  color: var(--list-name-hover-colour);
}

.lists-toggle-btn {
  display: none;
}

.list-name:hover {
  cursor: pointer;
}

.selected-list {
  color: var(--selected-list-colour);
  font-weight: bolder;
}

.list-name-container .icons {
  width: 20%;
}

.list-name-container.selected-list:hover {
  color: var(--selected-list-hover-colour);
}

.list-name {
  width: 80%;
  padding: 1rem;
  margin-right: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*
=============== 
Current List
===============
*/

.current-list-container {
  width: 70%;
  height: 90%;
  background-color: var(--list-background-colour);
  margin-left: 0.7rem;
  margin-bottom: 0.7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 10fr 2fr;
  grid-template-areas: "listname listname" "todolist completed" "deletebuttons deletebuttons";
  box-shadow: var(--container-box-shadow);
  border-radius: 5px;
  border: var(--container-border);
}

.current-list-name {
  grid-area: listname;
  font-family: var(--heading-font-family);
  text-align: center;
  margin: 3% 3%;
  height: 2rem;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.todolist {
  grid-area: todolist;
  display: flex;
  flex-direction: column;
  min-height: 0; /* To override min-height: auto which is the default in grids */
}

.completed-items {
  grid-area: completed;
  display: flex;
  flex-direction: column;
  min-height: 0; /* To override min-height: auto which is the default in grids */
}

.list {
  margin-top: 1rem;
  height: 90%;
  overflow-y: scroll;
  /* -webkit-overflow-scrolling: touch; */
}

.todo-item-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
}

.add-new-list {
  display: flex;
  margin-top: 1rem;
  margin-left: 0.7rem;
  margin-bottom: 1rem;
}

/*
=============== 
Headings and Text
===============
*/

.main-heading {
  color: var(--main-heading-colour);
  margin: 0px 5px;
  font-family: var(--main-heading-font-family);
  text-align: center;
  font-size: 3rem;
  font-weight: normal;
}

.heading,
.sub-heading {
  text-align: center;
  font-family: var(--heading-font-family);
  font-weight: 400;
}

.heading {
  color: var(--heading-colour);
}

.sub-heading {
  color: var(--sub-heading-colour);
}

.list-names-heading {
  margin-top: 5%;
}

.no-selected-list-warning {
  color: white;
  margin: auto;
  font-size: 1.5em;
}

.no-list-warning {
  color: var(--text-colour);
  font-family: var(--list-item-font-family);
  margin: 3%;
}

.todo-item-text {
  font-family: var(--list-item-font-family);
  font-size: 1rem;
  width: 70%;
  margin-left: 5%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*
=============== 
Dark Mode Toggle
===============
*/

.dark-mode-toggle {
  font-size: 1em;
  margin-bottom: 1%;
  display: flex;
  justify-content: flex-end;
  color: white;
  font-family: var(--heading-font-family);
}

.dark-mode-toggle .inactive {
  color: rgba(255, 255, 255, 0.5);
}

.dark-mode-toggle .active:hover {
  cursor: pointer;
  text-shadow: 0 0 2px rgb(0, 225, 255), 0 0 5px rgb(255, 255, 255);
}

.light-mode-btn {
  margin-left: 1%;
}

/*
=============== 
Buttons
===============
*/

.btn {
  border: none;
  color: white;
  font-family: var(--heading-font-family);
}

.btn:hover {
  cursor: pointer;
}

.delete-btns {
  grid-area: deletebuttons;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0.7rem 0;
  font-size: 1rem;
}

.delete-btns .btn {
  height: 2rem;
  width: 12rem;
}

.delete-all-btn {
  background-color: var(--delete-all-btn-colour);
}

.delete-completed-btn {
  background-color: var(--delete-completed-btn-colour);
}

.delete-all-btn:hover {
  color: var(--delete-all-btn-colour);
  background-color: white;
  border: 2px solid var(--delete-all-btn-colour);
}

.delete-completed-btn:hover {
  color: var(--delete-completed-btn-colour);
  background-color: white;
  border: 2px solid var(--delete-completed-btn-colour);
}

/*
=============== 
Icons
===============
*/
.icons {
  display: flex;
  justify-content: flex-end;
}

.icon {
  border: none;
  background-color: transparent;
}

.icon:hover {
  cursor: pointer;
}

.add-icon {
  color: var(--add-icon-colour);
  font-size: 1.8em;
}

.edit-icon,
.delete-icon {
  opacity: 0.5;
}

.edit-icon,
.delete-icon {
  color: var(--editdelete-icon-colour);
}

.edit-icon:hover,
.delete-icon:hover {
  opacity: 1;
}

.edit-icon:focus,
.delete-icon:focus {
  opacity: 1;
  outline-color: var(--editdelete-icon-colour);
}

.confirm-icon,
.clear-icon {
  color: var(--confirmclear-icon-colour);
}

.confirm-icon:hover,
.clear-icon:hover,
.confirm-icon:focus,
.clear-icon:focus {
  color: var(--confirmclear-icon-hover-colour);
  outline-color: var(--confirmclear-icon-colour);
}

.icons .icon {
  margin: 0 0.3rem;
}

/*
=============== 
Checkbox
===============
*/

.checkbox-container {
  --checkbox-height: 20px;
  --checkbox-width: 20px;
  position: relative;
  display: block;
  cursor: pointer;
  height: var(--checkbox-height);
  width: var(--checkbox-width);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid var(--text-colour);
  background-color: white;
}

.checkbox-container:hover .custom-checkbox,
.checkbox:focus ~ .custom-checkbox {
  border: 2px solid var(--checkbox-hover-border-color);
}

.checkbox:checked ~ .custom-checkbox {
  background-color: var(--checkbox-checked-colour);
}

.custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox:checked ~ .custom-checkbox:after {
  display: block;
}

.custom-checkbox:after {
  background-image: url("./images/tick.png");
  background-position: center;
  height: 100%;
  width: 100%;
}

/*
=============== 
Text Input Boxes
===============
*/

.add-new-item {
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.add-input-box {
  width: 70%;
  background-color: var(--add-input-box-colour);
  border: var(--add-input-border);
  font-family: var(--list-item-font-family);
  font-size: 1em;
  padding: 5px;
}

.edit-input-box {
  width: 70%;
  margin-left: 1rem;
  padding: 0.5rem;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--add-input-box-placeholder-colour);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--add-input-box-placeholder-colour);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--add-input-box-placeholder-colour);
}

/*
=============== 
Scroll Bar 
NOT SUPPORTED IN FIREFOX AND IE
===============
*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--list-background-colour);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-colour);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-colour);
}

/*
=============== 
Mobile Phone Portrait Layout
===============
*/

@media (orientation: portrait) and (max-width: 650px) {
  .lists-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }

  .list-names-container {
    width: 100%;
    height: initial;
    max-height: 85%;
    background-color: var(--list-names-menu-colour);
  }

  .current-list-container {
    width: 100%;
    height: 80%;
    margin-left: 0px;
    margin-top: 3%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr repeat(2, 5fr) 1fr;
    grid-template-areas: "listname" "todolist" "completed" "deletebuttons";
  }

  .lists {
    margin-bottom: none;
  }

  .completed-items {
    margin-top: 5%;
  }

  .hidden {
    display: none;
  }

  .show {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 2rem;
  }

  .main-heading {
    margin-bottom: 0.7rem;
  }

  .current-list-name {
    margin-bottom: 5%;
  }

  .no-selected-list-warning {
    margin-top: 50px;
    margin-left: 0;
  }

  .dark-mode-toggle {
    margin-bottom: 0.7rem;
  }

  .lists-toggle-btn {
    display: flex;
    height: 2rem;
    width: 100%;
    background-color: var(--toggle-button-colour);
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
  }

  .lists-toggle-btn .icon {
    position: absolute;
    right: 0;
  }

  .delete-btns {
    font-size: 1rem;
  }

  .delete-btns .btn {
    height: 1.5rem;
    width: 8rem;
  }

  .expand-arrow {
    font-size: 1.5em;
  }

  .input-box {
    width: 50%;
  }
}

/*
=============== 
Small Screen Layout
===============
*/

@media (max-height: 350px) {
  .main-heading {
    font-size: 1.5rem;
  }

  .current-list-name {
    font-size: 1.2rem;
  }

  .sub-heading {
    font-size: 1rem;
  }

  .dark-mode-toggle {
    font-size: 0.5rem;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-family: var(--heading-font-family);
  }
}
