:root {
  --background-colour: #00c6f9;
  --main-heading-colour: rgb(8, 0, 119);
  --list-background-colour: white;
  --toggle-button-colour: #0332cb;
  --delete-all-btn-colour: #ff2c2c;
  --delete-completed-btn-colour: #ff8000;
  --heading-font-family: "Montserrat", sans-serif;
  --list-item-font-family: "Quicksand", sans-serif;
  --green-icon-colour: #009f00;
  --list-hover-colour: #a9bbf7;
  --text-colour: black;
  --edit-icon-colour: rgb(0, 38, 119);
  --delete-icon-colour: rgb(0, 38, 119);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* COLOURS */

.dark-mode {
  --background-colour: #333333;
  --main-heading-colour: rgb(101, 206, 255);
  --list-background-colour: rgb(8, 8, 8);
  --toggle-button-colour: #0332cb;
  --delete-all-btn-colour: #ff2c2c;
  --delete-completed-btn-colour: #ff8000;
  --green-icon-colour: #00ff00;
  --list-hover-colour: #0059ff;
  --text-colour: white;
  --edit-icon-colour: rgb(0, 195, 255);
  --delete-icon-colour: rgb(0, 195, 255);
}

/* LAYOUT */

.main-container {
  background-color: var(--background-colour);
  height: 100vh;
  width: 100vw;
  padding: 2% 5% 2% 5%;
  overflow-y: hidden;
  color: var(--text-colour);
}

.lists-container {
  display: flex;
  height: 90%;
}

.list-names-container {
  width: 30%;
  height: 90%;
  margin-bottom: 0.7rem;
  background-color: var(--list-background-colour);
  display: flex;
  flex-direction: column;
}

.list-name-container {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  padding-top: 1.2rem;
  font-family: var(--list-item-font-family);
}

.list-name-container:hover {
  background-color: var(--list-hover-colour);
  color: white;
}

.lists {
  overflow-y: scroll;
}

.current-list-container {
  width: 70%;
  height: 90%;
  background-color: var(--list-background-colour);
  margin-left: 0.7rem;
  margin-bottom: 0.7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 10fr 2fr;
  grid-template-areas: "listname listname" "todolist completed" "deletebuttons deletebuttons";
}

.current-list-name {
  grid-area: listname;
  font-family: var(--heading-font-family);
  text-align: center;
  margin: 3% 0;
}

.todolist {
  grid-area: todolist;
  display: flex;
  flex-direction: column;
  min-height: 0; /* To override min-height: auto which is the default in grids */
}

.completed-items {
  grid-area: completed;
  display: flex;
  flex-direction: column;
  min-height: 0; /* To override min-height: auto which is the default in grids */
}

.list {
  margin-top: 1rem;
  height: 90%;
  overflow-y: scroll;
}

.todo-item-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
}

.add-new-list {
  display: flex;
  margin-top: 1rem;
  margin-left: 0.7rem;
}

/* HEADINGS */

.main-heading {
  color: var(--main-heading-colour);
  margin: 0px 5px;
}

.main-heading,
.heading,
.sub-heading {
  text-align: center;
  font-family: var(--heading-font-family);
}

.list-names-heading {
  margin-top: 5%;
}

/* BUTTONS & LINKS */

.dark-mode-toggle {
  font-size: 1em;
  margin-bottom: 1%;
  display: flex;
  justify-content: flex-end;
  color: white;
  font-family: var(--heading-font-family);
}

.dark-mode-toggle .inactive {
  color: rgba(255, 255, 255, 0.5);
}

.dark-mode-toggle .active:hover {
  cursor: pointer;
  text-shadow: 0 0 2px rgb(0, 225, 255), 0 0 5px rgb(255, 255, 255);
}

.light-mode-btn {
  margin-left: 1%;
}

.btn {
  border: none;
  color: white;
  font-family: var(--heading-font-family);
}

.btn:hover {
  cursor: pointer;
}

.lists-toggle-btn {
  display: none;
}

.list-name:hover {
  cursor: pointer;
}

.icons .icon {
  margin: 0 0.3rem;
}

.delete-btns {
  grid-area: deletebuttons;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 0.7rem;
  font-size: 1rem;
}

.delete-btns .btn {
  height: 2rem;
  width: 12rem;
}

.delete-all-btn {
  background-color: var(--delete-all-btn-colour);
}

.delete-completed-btn {
  background-color: var(--delete-completed-btn-colour);
}

.delete-all-btn:hover {
  color: var(--delete-all-btn-colour);
  background-color: white;
  border: 2px solid var(--delete-all-btn-colour);
}

.delete-completed-btn:hover {
  color: var(--delete-completed-btn-colour);
  background-color: white;
  border: 2px solid var(--delete-completed-btn-colour);
}

/* ICONS */

.icon:hover {
  cursor: pointer;
}

.add-icon {
  color: var(--green-icon-colour);
  font-size: 1.8em;
}

.edit-icon,
.delete-icon {
  opacity: 0.5;
}

.edit-icon {
  color: var(--edit-icon-colour);
}

.delete-icon {
  color: var(--delete-icon-colour);
}

.edit-icon:hover,
.delete-icon:hover {
  opacity: 1;
}

/* INPUT BOXES */

.add-new-item {
  margin-left: 5%;
  display: flex;
}

.input-box {
  width: 70%;
}

/* TEXT */

.todo-item-text {
  font-family: var(--list-item-font-family);
  font-size: 1rem;
}

@media (orientation: portrait) and (max-width: 650px) {
  /* LAYOUT */

  .lists-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 100%;
  }

  .list-names-container {
    height: 85%;
    width: 100%;
  }

  .current-list-container {
    width: 100%;
    height: 80%;
    margin-left: 0px;
    margin-top: 3%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr repeat(2, 5fr) 1fr;
    grid-template-areas: "listname" "todolist" "completed" "deletebuttons";
  }

  .lists {
    height: inherit;
    margin-bottom: none;
  }

  .completed-items {
    margin-top: 5%;
  }

  .hidden {
    display: none;
  }

  .show {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 2rem;
  }

  /* HEADINGS */

  .main-heading {
    margin-bottom: 0.7rem;
  }

  .current-list-name {
    margin-bottom: 5%;
  }

  /* BUTTONS & LINKS */

  .dark-mode-toggle {
    margin-bottom: 0.7rem;
  }

  .lists-toggle-btn {
    display: flex;
    height: 2rem;
    width: 100%;
    background-color: var(--toggle-button-colour);
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
  }

  .lists-toggle-btn .icon {
    position: absolute;
    right: 0;
  }

  .delete-btns {
    font-size: 1rem;
  }

  .delete-btns .btn {
    height: 1.5rem;
    width: 8rem;
  }

  /* ICONS */
  .expand-arrow {
    font-size: 1.5em;
  }

  /* INPUT BOXES */

  .input-box {
    width: 50%;
  }
}

@media (max-height: 350px) {
  /* HEADINGS */

  .main-heading {
    font-size: 1.5rem;
  }

  .current-list-name {
    font-size: 1.2rem;
  }

  .sub-heading {
    font-size: 1rem;
  }

  /* BUTTONS & LINKS */

  .dark-mode-toggle {
    font-size: 0.5rem;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-family: var(--heading-font-family);
  }
}
